
<%unless current_user==nil%>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">


        <div class="bg-light m-1 p-2 rounded">
          <%=link_to "マイページ",user_path(current_user.id),class:"btn btn-primary text-decoration-none text-light text-center"%>
          <div class="bg-light rounded">
            <p class="m-2">所属グループ</p>
            <% @user_groups.each do |user_group| %>

              <%if user_group.user_id==current_user.id%>

                <%=link_to group_path(user_group.group_id) do%>
                  <p class="m-1 text-break">：<%= Group.find(user_group.group_id).group_name %></p>
                <%end%>
              <%end%>
            <%end%>
          </div>
          <p class="bg-warning rounded p-1 text-center">グループ新規作成</p>
          <%= form_with model: @group, local:true do |f| %>
            <%= f.text_field :group_name, class:"form-control mt-2" %>

            <%= f.submit '新規作成' ,class:"mt-1" %>
          <%end%>
        </div>
      </div>
      <div class="col-sm-7">
        <table class="table table-inverse">
          <div class="border text-break rounded-top m-1 p-3 bg-light">
            <%= render 'layouts/error', model: @post %>
            <%unless @user_groups.where(user_id: current_user.id)==[]%>
              <%= form_with model: @post,url: posts_path, local:true do |f| %>

                <h4>画像</h4>
                <%= f.attachment_field :image %>
                <h4>投稿文</h4>

                <div class="input-group mb-3 mt-4">
                  <%= f.text_area :post_text, class:"form-control" %>
                </div>
                <%=f.fields_for @user_group do |i| %>
                  <div class="form-group">
                    <label class="control-label">投稿先</label><br>
                    <!--グループID順にソート、グループ名をGroupモデルから取得-->
                    <%= i.collection_check_boxes :group_id, UserGroup.where(user_id:current_user).sort_by(&:group_id), :group_id, :group_id,class:"m-1 p-1" do |b| %>

                      <%= b.label { b.check_box + Group.find(b.text).group_name } %>
                    <% end %>
                  </div>
                <%end%>
                <%= f.submit '投稿' %>
              <% end %>
            <%else%>
              <p>投稿するにはグループを作成するか、他の人から招待を受けてください。</p>
            <%end%>
          </div>

          <% @posts.each do |post| %>
            <%count = 0%>
            <%@post_groups.each do |post_group| %>

            <!--重複する投稿は表示させない-->
              <%if post.id== post_group.post_id && count == 0 %>
                <%@user_groups.each do |user_group|%>

                <!--グループに所属していない人には表示しない-->
                  <%if user_group.group_id==post_group.group_id && user_group.user_id==current_user.id%>
                    <%count=1%>
                    <div class="border text-break rounded-top m-1 p-3 bg-light">
                      <%=link_to post_path(post.id),class:"text-decoration-none text-black" do%>
                        <%unless post.image_id==nil%>
                          <%= attachment_image_tag post, :image ,:fill, 300, 300%>
                          <p class="text-black"><%= post.post_text %></p>
                        <% end %>
                      <%end%>
                      <%=link_to user_path(post.user.id),class:"text-decoration-none text-black" do%>
                        <p class="mt-0 p-0">投稿者：<%= post.user.name %></p>
                      <%end%>
                      <% @post_groups.where(post_id: post.id).sort_by(&:group_id).each do |post_group| %>
                      <!--!!!!!!!-->
                        <%=link_to user_path(post.user.id),class:"text-decoration-none text-black" do%>
                          <span class="mt-0 p-0">
              					  	・<%= Group.find(post_group.group_id).group_name%>
              					  </span>
              					<%end%>
            					<%end%>
                    </div>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>
          <% end %>


        <%= paginate @posts %>
        </table>
      </div>
      <div class="col-sm-2">
         <h5>投稿文検索</h5>

          <%= search_form_for @search, url: search_posts_path do |f| %>
            <%= f.label :post_text_cont,"投稿文"%>
            <%= f.search_field :post_text_cont,class:'search',placeholder: "検索" %>
            <br>
            <%= f.submit '検索',class:"m-2" %>
          <% end %>

      </div>

    </div>
  </div>
<%else%>
  <p>使用には登録が必要です。</p>
<%end%>