<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div class="post-body">
  <%= attachment_image_tag @post, :image %>
  <p><%= @post.post_text %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
    <% if @post.checkerd_by?(current_user) %>
    <p>
      <%= link_to post_checkers_path(@post), method: :delete do %>
        〇:<%= @post.checkers.count %>人確認済み
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_checkers_path(@post), method: :post do %>
        ― 未確認:<%= @post.checkers.count %>人確認済み
      <% end %>
    </p>
  <% end %>
</div>

<div class="comments">
  <!--ここも部分テンプレート化する-->
  <!--コメントに対するコメントも出来るようにすること-->
<p>コメント件数：<%= @post.post_comments.count %></p>
<% @post.post_comments.each do |post_comment| %>
  
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@post, @post_comment], local: true) do |f| %>
  <%= f.text_field :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
    PostComment.find_by(id: params[:id], post_id: params[:post_id]).destroy
    redirect_to post_path(params[:post_id])
<% end %>
</div>